nav
	ul.navbar.navbar-left
		li.nav-logo
			a(href="/")
				img(src='amp-header-logo.png' style="width:300px; height:58px")

	if !user
		ul.navbar.navbar-right
			li.nav-item
				a(href="login") Login
			li.nav-item
				a(href="register") Register
			li.nav-item
				a(href="https://discord.gg/5kPpTKw") Discord
	else
		ul.navbar.navbar-right
			li.nav-item
				a(href="logout") Log Out
			li.nav-item
				a(href="user/"+user.user_id)= user.username
			li.nav-item
				a(href="https://discord.gg/5kPpTKw") Discord