nav.topnav#topnav
	a(class="nav-logo" href="/")
		img(src='/amp-header-logo.png' style="width:300px; height:58px")

	if !user
		a(class="nav-item" href="https://discord.gg/5kPpTKw" target="_blank") Discord
		a(class="nav-item" href="/register") Register
		a(class="nav-item" href="/login") Login
		a(class="nav-item" href="javascript:void(0);" class="icon" onclick="toggleTopnav()") &#9776;
			p 
	else
		a(class="nav-item" href="https://discord.gg/5kPpTKw" target="_blank") Discord
		a(class="nav-item" href="/user/"+user.user_id)= user.username
		a(class="nav-item" href="/logout") Log Out
		a(class="nav-item" href="javascript:void(0);" class="icon" onclick="toggleTopnav()") &#9776;