nav
	ul.navbar.navbar-left
		li.nav-logo
			a(href="/") FMP Control

	if !user
		ul.navbar.navbar-right
			li.nav-item
				a(href="login") Login
			li.nav-item
				a(href="register") Register
	else
		ul.navbar.navbar-right
			li.nav-item
				a(href="logout") Log Out
			li.nav-item
				a(href="users/"+user.user_id)= user.username