doctype html
html(lang="en")
	head
		title= title
		include meta/theme
		include meta/scripts
	body
		include header
		.site-wrap
			if !user

				h1 FMP
				p.
					Sign in to your FMP account above.
			else
				h1(style="font-style:italic") Welcome Back to The Wasteland
				p.
					FMP is the lovechild of the modern game engine Unreal Engine 4 and the kind of roleplay & world building that made you fall in love with gaming in the first place. If all goes well, this project will be the best of both worlds: Beautiful gameplay and meaningful story.

				p.
					To embark on this experiment with us, join our Discord and request a Beta Key. There, you can keep tabs on development updates and be the first to hear about build launches.