doctype html
html(lang="en")
	head
		title= title
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto")
		link(rel="stylesheet" type="text/css" href="style.css")
	body
		block header
		nav
			ul.navbar.navbar-left
				li.nav-logo
					a(href="/") FMP Control

			if !user
				ul.navbar.navbar-right
					li.nav-item
						a(href="login") Login
					li.nav-item
						a(href="register") Register
			else
				ul.navbar.navbar-right
					li.nav-item
						a(href="logout") Log Out
					li.nav-item
						a(href="users/"+user.user_id)= user.username
		.site-wrap
			h1 Fommo Auth
			if !user
				p.
					Sign in to your FMP account above.
			else
				h3= user.username
				p= "ID: "+user.user_id
