doctype html
html(lang="en")
	head
		title= title
		include meta/theme
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		include header
		.site-wrap
			h1 Fommo Auth
			if !user
				p.
					Sign in to your FMP account above.
			else
				h3= user.username
				p= "ID: "+user.user_id
