doctype html
html(lang="en")
	head
		title= title
		include meta/theme
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		include header
		.site-wrap
			h1 Log In
			form#login
				label Username
					input(type="text" name="username" autocomplete="off")
				label Password
					input(type="password" name="password" autocomplete="off")
				input(type="submit" value="Log In")
		script(type="text/javascript").
			$(document).ready(function() {
				console.log("Document ready")
				
				$('form#login').on("submit", function(e){
					e.preventDefault();
					var formdata = $(this).serialize();
					console.log(formdata)
					$.ajax({
						url : '/login',
						type: 'POST',
						data:formdata,
						dataType:"html",
						contentType: "application/x-www-form-urlencoded; charset=UTF-8",
						success : function (response) {
							document.location.href="/";
						},
						error: function(xhr, resp, text) {
							console.log(xhr, resp, text);
						}
					});
				})
			});
