doctype html
html(lang="en")
	head
		title= title
		include meta/theme
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		include header
		.site-wrap
			h1 Log In
			form#login
				label Username
					input(type="text" name="username" 
pattern="[A-Za-z_ ]{3,24}" autocomplete="off" required)
				label Password
					input(type="password" name="password" pattern=".{8,}" autocomplete="off" required)
				p.error
				input(type="submit" value="Log In")
		script(type="text/javascript").
			$(document).ready(function() {
				console.log("Document ready")
					$("p.error").html(" ")
				
				$('form#login').on("submit", function(e){
					e.preventDefault();
					var formdata = $(this).serialize();
					$.ajax({
						url : '/login',
						type: 'POST',
						data:formdata,
						dataType:"html",
						contentType: "application/x-www-form-urlencoded; charset=UTF-8",
						success : function (response) {
							document.location.href="/";
						},
						error: function(xhr, resp, text) {
							if (text = "Unauthorized") {
								console.log("Login Failed")
								$("p.error").html("Login Failed")
							}
						}
					});
				})
			});
