doctype html
html(lang="en")
	head
		title= title
		include meta/theme
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		include header
		.site-wrap
			h1 Join FMP
			form#register(action="/register" method="post")
				label Username:
					input(type="text" name="username" placeholder="Wastelander"
pattern="[A-Za-z_ ]{3,24}" autocomplete="off" required)
				label Password:
					input(type="password" name="password" autocomplete="off"  pattern=".{8,}" placeholder="********" required)
				label Confirm Password:
					input(type="password" name="confirmPassword" pattern=".{8,}" autocomplete="off" placeholder="********" required)
				input(type="submit" value="Create Account")