*{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	--header-main:      #f48503;
	--header-accent:    #d16f05;
	--body-main:		#f9ab57;
	--body-accent:		#facf57;
}


html {
	height:calc(100% - 60px);
	width:100%;
	margin:0;
	padding:0;
}

body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
body {
	min-width: 500px;
	padding-top: 60px;
	background: #404040 url(https://staticdelivery.nexusmods.com/contents/Templates/130/bg.jpg) top center no-repeat fixed;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
	color: var(--header-main);
}

nav {  
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      
	user-select: none;
	height: 57px;
	background-color: var(--header-main);
	border-bottom: 3px solid var(--header-accent);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 500px;
}

ul.navbar-left{
	float:left;
}

ul.navbar-right{
	float:right;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height:100%;
	background-color: var(--header-main);
}

.nav-logo{
	font-size: 30px;
	padding: 8px 0px;
	color: white;
	text-decoration: none;
	text-align: center;
}


.nav-logo a {
	font-size: 30px;
	padding: 15px 30px;
	color: white;
	text-decoration: none;
	text-align: center;
}

ul.navbar-right li {float: right;}

ul.navbar-right li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18.5px 16px;
	text-decoration: none;
}

ul.navbar-right li a:hover:not(.active) {background-color: var(--header-accent)}

ul.navbar li a.active {background-color: var(--body-accent)}

ul.navbar li.right {float: right;}

/*@media screen and (max-width: 600px){
	ul.navbar li.right, 
	ul.navbar li {float: none;}
}*/

.site-wrap {
	background-color: white;
	margin: 0px auto;
	padding: 20px 20px;
	max-width: 800px;
}

.site-wrap form {
	margin: 20px 0;
}

label {
	margin: 16px 0 0 0;
	display:block;
	clear:both;
	font-size: 18px;
}

.site-wrap form input{
	font-family: "Roboto",sans-serif;
	display:block;
	clear:both;
	padding:3px;
}

.site-wrap form input[type="submit"] {
	color: white;
	font-size: 18px;
	background-color: var(--header-main);
	border-top: 1px solid var(--header-accent);
	border-right: 1px solid var(--header-accent);
	border-bottom: 2px solid var(--header-accent);
	border-left: 1px solid var(--header-accent);
	border-radius: 5px;
	padding: 5px 10px;
	margin-top: 12px;
}

.site-wrap form input[type="submit"]:hover {
	color: white;
	font-size: 18px;
	background-color: var(--header-accent);
	border-top: 1px solid var(--header-accent);
	border-right: 1px solid var(--header-accent);
	border-bottom: 2px solid var(--header-accent);
	border-left: 1px solid var(--header-accent);
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 1px 1px 3px 1px #DDDDDD;
	-webkit-box-shadow: 1px 1px 3px 1px #DDDDDD;
	-moz-box-shadow: 1px 1px 3px 1px #DDDDDD;
	-o-box-shadow: 1px 1px 3px 1px #DDDDDD;
}


p {
	margin: 16px 0;
}


.error {
	color: red;
	font-size: 14px;
	padding:0px;
	margin:0px;
	min-height: 20px;
}